{
  "Entries": [
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobcreateappendifunmodifiedsincetrue?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobcreateappendifunmodifiedsincetrue?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Dec 2021 23:06:38 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BB688E565798\u0022",
        "Last-Modified": "Thu, 09 Dec 2021 23:06:38 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobcreateappendifunmodifiedsincetrue/gotestblobblobcreateappendifunmodifiedsincetrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobcreateappendifunmodifiedsincetrue/gotestblobblobcreateappendifunmodifiedsincetrue",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 09 Dec 2021 23:06:38 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BB688E6540EF\u0022",
        "Last-Modified": "Thu, 09 Dec 2021 23:06:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobcreateappendifunmodifiedsincetrue/gotestblobblobcreateappendifunmodifiedsincetrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobcreateappendifunmodifiedsincetrue/gotestblobblobcreateappendifunmodifiedsincetrue",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 09 Dec 2021 23:06:48 GMT",
        "x-ms-blob-cache-control": "control",
        "x-ms-blob-content-disposition": "my_disposition",
        "x-ms-blob-content-encoding": "my_encoding",
        "x-ms-blob-content-language": "my_language",
        "x-ms-blob-content-type": "my_type",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 09 Dec 2021 23:06:38 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BB688E736FA1\u0022",
        "Last-Modified": "Thu, 09 Dec 2021 23:06:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobcreateappendifunmodifiedsincetrue?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobcreateappendifunmodifiedsincetrue?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Dec 2021 23:07:30 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
