{
  "Entries": [
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobstartcopydestifnonematchfalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopydestifnonematchfalse?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Dec 2021 20:08:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B8F4259125EA\u0022",
        "Last-Modified": "Mon, 06 Dec 2021 20:08:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobstartcopydestifnonematchfalse/gotestblobblobstartcopydestifnonematchfalse",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopydestifnonematchfalse/gotestblobblobstartcopydestifnonematchfalse",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 06 Dec 2021 20:08:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9B8F425A26536\u0022",
        "Last-Modified": "Mon, 06 Dec 2021 20:08:19 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobstartcopydestifnonematchfalse/destgotestblobblobstartcopydestifnonematchfalse",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopydestifnonematchfalse/destgotestblobblobstartcopydestifnonematchfalse",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 06 Dec 2021 20:08:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9B8F425B01ED2\u0022",
        "Last-Modified": "Mon, 06 Dec 2021 20:08:19 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobstartcopydestifnonematchfalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobstartcopydestifnonematchfalse?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Dec 2021 20:09:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
