{
  "Entries": [
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobsnapshotifunmodifiedsincefalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsnapshotifunmodifiedsincefalse?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Dec 2021 20:27:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B8F6CB457B4C\u0022",
        "Last-Modified": "Mon, 06 Dec 2021 20:27:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobsnapshotifunmodifiedsincefalse/gotestblobblobsnapshotifunmodifiedsincefalse",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsnapshotifunmodifiedsincefalse/gotestblobblobsnapshotifunmodifiedsincefalse",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 06 Dec 2021 20:27:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9B8F6CB541BB2\u0022",
        "Last-Modified": "Mon, 06 Dec 2021 20:27:16 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobsnapshotifunmodifiedsincefalse/gotestblobblobsnapshotifunmodifiedsincefalse?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsnapshotifunmodifiedsincefalse/gotestblobblobsnapshotifunmodifiedsincefalse?comp=snapshot",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Mon, 06 Dec 2021 20:27:06 GMT",
        "x-ms-date": "Mon, 06 Dec 2021 20:27:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:bad28c4b-801e-0029-4bdf-ead601000000\n",
        "Time:2021-12-06T20:27:16.3228803Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobsnapshotifunmodifiedsincefalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobsnapshotifunmodifiedsincefalse?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Dec 2021 20:27:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
