{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopymetadatanil?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopymetadatanil?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Dec 2021 21:28:11 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B6A3CFBBBB17\u0022",
        "Last-Modified": "Fri, 03 Dec 2021 21:28:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopymetadatanil/gotestblobblobstartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopymetadatanil/gotestblobblobstartcopymetadatanil",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 03 Dec 2021 21:28:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9B6A3CFC0E551\u0022",
        "Last-Modified": "Fri, 03 Dec 2021 21:28:13 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopymetadatanil/copygotestblobblobstartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopymetadatanil/copygotestblobblobstartcopymetadatanil",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 03 Dec 2021 21:28:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jXd/OF09/siBXSD3SWAm3A==",
        "ETag": "\u00220x8D9B6A3CFC57875\u0022",
        "Last-Modified": "Fri, 03 Dec 2021 21:28:13 GMT",
        "x-ms-content-crc64": "gCf8jkNhru0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopymetadatanil/copygotestblobblobstartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopymetadatanil/copygotestblobblobstartcopymetadatanil",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://rosebud.blob.core.windows.net/gocblobstartcopymetadatanil/gotestblobblobstartcopymetadatanil",
        "x-ms-date": "Fri, 03 Dec 2021 21:28:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B6A3CFCACED1\u0022",
        "Last-Modified": "Fri, 03 Dec 2021 21:28:13 GMT",
        "x-ms-copy-id": "c46fa1e7-812a-4845-9806-d2a7146176b7",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopymetadatanil?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobstartcopymetadatanil?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Dec 2021 21:29:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
