{
  "Entries": [
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobappendblocknilbody?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobappendblocknilbody?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Dec 2021 23:13:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BB697D21C411\u0022",
        "Last-Modified": "Thu, 09 Dec 2021 23:13:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobappendblocknilbody/gotestblobblobappendblocknilbody",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobappendblocknilbody/gotestblobblobappendblocknilbody",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 09 Dec 2021 23:13:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BB697D344168\u0022",
        "Last-Modified": "Thu, 09 Dec 2021 23:13:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobappendblocknilbody/gotestblobblobappendblocknilbody?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobappendblocknilbody/gotestblobblobappendblocknilbody?comp=appendblock",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Dec 2021 23:13:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:1fafe18b-e01e-0014-2952-edeb76000000\n",
        "Time:2021-12-09T23:13:19.7049735Z\u003C/Message\u003E\u003CHeaderName\u003EContent-Length\u003C/HeaderName\u003E\u003CHeaderValue\u003E0\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobappendblocknilbody?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobappendblocknilbody?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Dec 2021 23:13:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
