{
  "Entries": [
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobdeleteifmatchtrue?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobdeleteifmatchtrue?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Dec 2021 21:28:24 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B8FF567200A4\u0022",
        "Last-Modified": "Mon, 06 Dec 2021 21:28:25 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobdeleteifmatchtrue/gotestblobblobdeleteifmatchtrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobdeleteifmatchtrue/gotestblobblobdeleteifmatchtrue",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 06 Dec 2021 21:28:25 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9B8FF56824E62\u0022",
        "Last-Modified": "Mon, 06 Dec 2021 21:28:25 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobdeleteifmatchtrue/gotestblobblobdeleteifmatchtrue",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobdeleteifmatchtrue/gotestblobblobdeleteifmatchtrue",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Dec 2021 21:29:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobdeleteifmatchtrue?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobdeleteifmatchtrue?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Dec 2021 21:30:05 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
