{
  "Entries": [
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobsnapshotifnonematchtrue?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsnapshotifnonematchtrue?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Dec 2021 20:30:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B8F74CC19778\u0022",
        "Last-Modified": "Mon, 06 Dec 2021 20:30:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobsnapshotifnonematchtrue/gotestblobblobsnapshotifnonematchtrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsnapshotifnonematchtrue/gotestblobblobsnapshotifnonematchtrue",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 06 Dec 2021 20:30:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9B8F74CD8D765\u0022",
        "Last-Modified": "Mon, 06 Dec 2021 20:30:53 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobsnapshotifnonematchtrue/gotestblobblobsnapshotifnonematchtrue?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsnapshotifnonematchtrue/gotestblobblobsnapshotifnonematchtrue?comp=snapshot",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "If-None-Match": "garbage",
        "x-ms-date": "Mon, 06 Dec 2021 20:30:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B8F74CD8D765\u0022",
        "Last-Modified": "Mon, 06 Dec 2021 20:30:53 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-12-06T20:30:53.6577361Z",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primfakeaccount.blob.core.windows.net/gocblobsnapshotifnonematchtrue?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobsnapshotifnonematchtrue?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Dec 2021 20:30:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
