{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopydestempty?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopydestempty?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Dec 2021 21:38:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B6A54D1E0AC0\u0022",
        "Last-Modified": "Fri, 03 Dec 2021 21:38:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopydestempty/gotestblobblobstartcopydestempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopydestempty/gotestblobblobstartcopydestempty",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 03 Dec 2021 21:38:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9B6A54D23A0EC\u0022",
        "Last-Modified": "Fri, 03 Dec 2021 21:38:52 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopydestempty/copygotestblobblobstartcopydestempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopydestempty/copygotestblobblobstartcopydestempty",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://rosebud.blob.core.windows.net/gocblobstartcopydestempty/gotestblobblobstartcopydestempty",
        "x-ms-date": "Fri, 03 Dec 2021 21:38:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B6A54D28822D\u0022",
        "Last-Modified": "Fri, 03 Dec 2021 21:38:52 GMT",
        "x-ms-copy-id": "f34d8444-373c-465b-bebf-1b8dd41676d7",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopydestempty/copygotestblobblobstartcopydestempty",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/gocblobstartcopydestempty/copygotestblobblobstartcopydestempty",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Dec 2021 21:38:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9B6A54D28822D\u0022",
        "Last-Modified": "Fri, 03 Dec 2021 21:38:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Fri, 03 Dec 2021 21:38:52 GMT",
        "x-ms-copy-id": "f34d8444-373c-465b-bebf-1b8dd41676d7",
        "x-ms-copy-progress": "15/15",
        "x-ms-copy-source": "https://rosebud.blob.core.windows.net/gocblobstartcopydestempty/gotestblobblobstartcopydestempty",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 03 Dec 2021 21:38:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "R29CbG9ja0Jsb2JEYXRh"
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopydestempty?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobstartcopydestempty?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Dec 2021 21:38:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
